.OurOwners {
	padding: 30px 0;
	.content {
		.top {
			margin-bottom: 40px;
			display: flex;
			gap: 5px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media (max-width: 768px) {
				margin-bottom: 10px;
			}
			.title {
				margin-bottom: 14px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: clamp(24px, 5vw, 58px);
				font-weight: 400;
				line-height: clamp(20px, 5vw, 69px);
				letter-spacing: 0%;
				span {
					background: linear-gradient(90deg, #f96b6b, #f64b6a, #bc1f5e);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
				}
			}
		}
		.cards {
			display: grid;
			gap: 18px;
			grid-template-columns: repeat(3, minmax(0px, 1fr));
			width: 100%;
			@media (max-width: 768px) {
				grid-template-columns: repeat(1, minmax(0px, 1fr));
			}
			.card_wrapper {
				position: relative;
				.card {
					position: relative;
					padding: 16px 16px 30px;
					background: #f7f7f7;
					border-radius: 13.62px;
					height: 100%;
					border: 1.36px solid #ededed;
					z-index: 1;
					.top {
						position: relative;
						overflow: hidden;
						margin-bottom: 19px;
						width: 100%;
						max-height: 200px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 18.22px;
						background: rgb(27, 26, 26);
						&::after {
							content: '';
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							width: 70px;
							height: 70px;
							filter: blur(50px);
							background: rgba(187, 57, 83, 1);
							z-index: 1;
						}
						.photo {
							width: 100%;
							max-width: 293px;
							display: flex;
							justify-content: center;
							align-items: center;
							img {
								object-fit: cover;
								object-position: center;
								width: 100%;
								height: 100%;
								z-index: 2;
							}
						}
						.contacts {
							position: absolute;
							top: 15px;
							right: 15px;
							z-index: 3;
							display: flex;
							gap: 7px;
							justify-content: center;
							align-items: center;
							.link {
								padding: 6px;
								display: flex;
								justify-content: center;
								align-items: center;
								background: #303030;
								border: 0.88px solid #606060;
								border-radius: 7.06px;
								color: #fff;
							}
						}
					}
					.bottom {
						.name {
							margin-bottom: 10px;
							color: #1b1a1a;
							font-size: 22px;
							font-weight: 700;
							line-height: 21.25px;
							letter-spacing: 0%;
						}
						.role {
							margin-bottom: 14px;
							color: #7a8288;
							font-size: 16px;
							font-weight: 400;
							line-height: 21.25px;
							letter-spacing: 0%;
						}
						.details {
							padding-left: 20px;
							display: flex;
							gap: 7px;
							flex-direction: column;
							.li {
								color: #202020;
								font-size: 14px;
								font-weight: 400;
								line-height: 17px;
								letter-spacing: 0%;
							}
						}
					}
				}
				&::before {
					content: '';
					position: absolute;
					left: 50%;
					bottom: -13px;
					transform: translateX(-50%);
					z-index: -1;

					width: 90%;
					background: #dadada;
					border-radius: 14px;
					height: 37px;
				}
			}
		}
	}
}
