.Tag {
	margin-bottom: 20px;
	display: flex;
	.content {
		padding: 5px 15px;
		display: flex;
		gap: 7px;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.12);
		background: rgba(80, 80, 80, 0.1);

		color: #d5d5d5;
		svg {
			width: 19px;
			height: 19px;
		}
	}
}
