.Profile {
	padding: 40px 0;
	.left__title {
		padding: 20px;
		font-size: 25px;
		font-weight: 500;
	}

	.content {
		width: 100%;
		display: flex;
		align-items: flex-start;
		gap: 20px;

		.left {
			// Brandset block
			width: 50%;
			.cover {
				background: #f2f2f2;
				height: 295px;
				border-radius: 15px;
				.backgroundImage_panel {
					position: relative;
					.skeleton {
						img {
							width: 40rem;
							height: 150px;
							object-fit: cover;
							border-top-left-radius: 12px;
							border-top-right-radius: 12px;
							z-index: -1;
						}
					}
					.bg_btn {
						background: #0000008a;
						position: absolute;
						top: 15px;
						right: 20px;
						width: 44px;
						height: 44px;
						border-radius: 50%;
					}
				}

				.left__avatar {
					.avatar_skeleton {
						.avatar {
							width: 120px;
							height: 100px;
							object-fit: cover;
							border-radius: 34px;
							border: 3px solid rgba(218, 216, 216, 0.155);
							// position: absolute;
							margin-top: -60px;
							margin-left: 30px;
							top: -60px;
							left: 30px;
							z-index: 5;
							background-color: #f8f5f5;
						}
					}
				}
				.text {
					padding: 0 30px;
					span {
						font-size: 16px;
						font-weight: 600;
						color: #000;
					}
					p {
						font-size: 12px;
						opacity: 0.8;
					}
				}
				.left_bottom {
					padding: 10px 30px;
					.avatar_btn {
						// margin-top: 50px;
						border: 2px solid black;
						background: none;
						color: #000;
					}
				}
			}
			// Personal Block
			.left__personal_info {
				border-radius: 15px;
				margin: 30px 0;
				background-color: #f2f2f2;
				padding: 20px 10px;
				.title {
					font-weight: 500;
					font-size: 19px;
				}

				.info_block {
					padding: 10px 0;
					display: flex;
					flex-direction: column;
					gap: 14px;

					.email {
						span {
							font-size: 14px;
							font-weight: 500;
						}
						p {
							border: 1px solid rgb(226, 225, 225);
							display: flex;
							align-items: center;
							padding: 0 10px;
							display: flex;
							gap: 10px;
							background: #fff;
							width: 100%;
							padding: 5px;
							border-radius: 5px;
						}
					}
				}
			}
		}

		.right {
			width: 50%;
			display: flex;
			flex-direction: column;
			gap: 20px;
			.bio_description {
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				border-radius: 15px;
				height: 200px;
				background: #f2f2f2;
				padding: 10px;
				span {
					font-size: 20px;
					font-weight: 500;
					margin-left: 10px;
					margin-bottom: 20px;
				}
				div {
					border: 1px solid rgb(215, 215, 215);
					margin: 0 auto;
					width: 580px;
					border-radius: 10px;
					background-color: #fff;
					color: #474652;
					overflow: hidden;
					padding: 15px;
				}
			}
			.interests_hobby {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-radius: 15px;
				height: 200px;
				background: #f2f2f2;
				padding: 10px;
				span {
					font-size: 20px;
					font-weight: 500;
					margin-left: 10px;
					margin-bottom: 20px;
				}
				.ticket_cover {
					padding: 10px;
					display: flex;
					gap: 10px;
					flex-wrap: wrap;
					.ticket {
						white-space: nowrap;
						cursor: pointer;
						display: flex;
						align-items: center;
						gap: 6px;
						max-width: 120px;
						background-color: #d7e3fe;
						font-weight: 500;
						color: #0b52a4;
						padding: 4px 9px;
						border-radius: 24px;
						transition: 0.2s;
						&:hover {
							background-color: #cfd4fa;
						}
					}
				}
				button {
					background: #f2f2f2;
					width: 100%;
					border: 2px solid rgb(214, 213, 213);
					border-radius: 12px;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10px 0;
					transition: 0.3s;
					&:hover {
						background: #ffffff98;
					}
				}
			}
			.social_media_acc {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-radius: 15px;
				height: 350px;
				background: #f2f2f2;
				padding: 10px;
				span {
					font-size: 20px;
					font-weight: 500;
					margin-left: 10px;
					margin-bottom: 16px;
				}
				.social_cover {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 10px;
					.social_item {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						padding: 3px 11px;
						width: 100%;
						gap: 20px;
						background-color: #fff;
						border-radius: 12px;
						span {
							font-size: 16px;
						}
					}
				}
				button {
					background: #f2f2f2;
					width: 100%;
					border: 2px solid rgb(214, 213, 213);
					border-radius: 12px;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10px 0;
					transition: 0.3s;
					&:hover {
						background: #ffffff98;
					}
				}
			}
		}
	}
}
