.Groups {
	padding: 30px 0;
	.content {
		.list {
			display: grid;
			gap: 30px;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			.group {
				width: 100%;
				max-width: 585px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				border: 1px solid #c0c0c081;
				border-radius: var(--border-radius);
				cursor: pointer;
				@media (max-width: 500px) {
					cursor: default;
				}
				img {
					width: 100%;
					height: 285px;
					object-fit: cover;
					object-position: center;
					border-radius: var(--border-radius);
					@media (max-width: 1000px) {
						height: 200px;
					}
				}
				.info {
					width: 100%;
					.about {
						padding: 5px 10px 10px 10px;
						h1 {
							font-size: 20px;
						}
						p {
							font-size: 14px;
						}
					}
					.bottom {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.date {
							padding: 3px 5px;
							display: flex;
							flex-direction: column;
							background: silver;
							border-radius: var(--border-radius);
							span {
								display: block;
								font-size: 10px;
							}
						}
						.buttons {
							display: flex;
							gap: 10px;
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
		}
	}
}

.create_group {
	width: 100%;
	// max-width: 500px;
	form {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}
}

.update_group {
	width: 100%;
	// max-width: 500px;
	form {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}
}

.delete_group {
	p {
		margin-bottom: 15px;
	}
	.delete_buttons {
		display: flex;
		gap: 10px;
	}
}
