.Advantages {
	padding: 50px 0;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1000px) {
			flex-direction: column-reverse;
		}
		.left {
			display: flex;
			justify-content: center;
			align-items: center;
			.photo {
				width: 100%;
				max-width: 585px;
				height: 100%;
			}
		}
		.right {
			@media (max-width: 1000px) {
				margin-bottom: 30px;
			}
			.title {
				margin-bottom: clamp(10px, 5vw, 62px);
				color: #1f1f1f;
				font-size: clamp(28px, 8vw, 58px);
				font-weight: 400;
				line-height: 70px;
				letter-spacing: 0%;
			}
			.cards {
				width: 100%;
				max-width: 631px;
				display: flex;
				gap: 45px;
				flex-wrap: wrap;
				justify-content: space-between;
				.card {
					width: 100%;
					max-width: 293px;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					.icon {
						margin-bottom: 28px;
						width: 40px;
						height: 40px;
					}
					.title {
						margin-bottom: 8px;
						color: #091133;
						font-size: 18px;
						font-weight: 500;
						line-height: 30px;
						letter-spacing: 0px;
					}
					.description {
						color: #5d6970;
						font-size: 14px;
						font-weight: 400;
						line-height: 17px;
						letter-spacing: 0px;
					}
				}
			}
		}
	}
}
