.InternshipProgram {
	padding: 60px 0;
	background: #f6f6f6;
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.title {
			margin-bottom: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: clamp(24px, 5vw, 58px);
			font-weight: 400;
			line-height: clamp(20px, 5vw, 69px);
			letter-spacing: 0%;
			span {
				background: linear-gradient(90deg, #f96b6b, #f64b6a, #bc1f5e);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
		.cards {
			display: flex;
			gap: 30px;
			justify-content: center;
			@media (max-width: 1000px) {
				flex-direction: column;
				align-items: center;
			}
			.card {
				padding: 40px 30px;
				width: 100%;
				max-width: 370px;
				display: flex;
				flex-direction: column;
				// justify-content: center;
				align-items: center;
				border: 1px solid #e5f4f2;
				border-radius: 20px;
				box-shadow: 34.85px 29.63px 48.34px 0px #4545450d;
				background: #ffffff;
				.pic {
					margin-bottom: clamp(12px, 5vw, 30px);
				}
				.title {
					margin-bottom: clamp(10px, 5vw, 24px);
					color: #1f1f1f;
					font-size: clamp(20px, 5vw, 28px);
					font-weight: 600;
					line-height: 130%;
					letter-spacing: -1%;
					text-align: center;
				}
				.description {
					color: #2d2d2d;
					font-size: 16px;
					font-weight: 400;
					line-height: 150%;
					letter-spacing: 0%;
					text-align: center;
				}
			}
		}
	}
}
