.WelcomeItClub {
	padding: 120px 0;
	@media (max-width: 768px) {
		padding: 70px 0;
	}
	.content {
		margin: 0 auto;
		width: 100%;
		max-width: 1100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 768px) {
			flex-direction: column;
		}
		.left {
			.icon {
				margin-bottom: 26px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
			.title {
				margin-bottom: 12px;
				color: #272727;
				font-size: clamp(26px, 5vw, 58px);
				font-weight: 400;
				line-height: clamp(25px, 6vw, 70px);
				letter-spacing: 0%;
			}
			.text {
				margin-bottom: 32px;
				width: 100%;
				max-width: 537px;
				color: #202020;
				font-size: clamp(18px, 5vw, 22px);
				font-weight: 400;
				line-height: 27px;
				letter-spacing: 0%;
			}
			.button {
				padding: 10px 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 9999px;
				background: #ff6368;
				border: none;
				color: #ffffff;
				font-size: 17.16px;
				font-weight: 600;
				line-height: 28px;
				letter-spacing: 0%;
				cursor: pointer;
				transition: 0.2s;
				&:hover svg {
					margin-left: 9px;
				}
				svg {
					margin-left: 7px;
					transition: 0.2s;
				}
			}
		}
		.right {
			display: flex;
			justify-content: center;
			align-items: center;
			.img {
				width: 100%;
				max-width: 663px;
				height: auto;
			}
		}
	}
}
