.AccordionPanel {
	display: flex;
	gap: 5px;
	flex-direction: column;

	.AccordionPanel_button {
		position: relative;
		padding: 5px 12px;
		width: 100%;
		display: flex;
		gap: 5px;
		justify-content: flex-start;
		align-items: center;
		background: transparent;
		border: 1px solid #c0c0c085;
		outline: none;
		border-radius: var(--border-radius);
		&.active {
			color: red;
			background: #f0f0f0;
		}
		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width: 19px;
				height: 19px;
			}
		}
		.title {
			font-size: 13px;
			text-align: start;
		}
		.buttons {
			position: absolute;
			right: 5px;
			padding: 2px;
			display: flex;
			gap: 5px;
			border-radius: 4px;
			.button {
				width: 27px;
				height: 27px;
				display: flex;
				justify-content: center;
				align-items: center;
				backdrop-filter: blur(7px);
			}
			.edit_button {
				background: transparent;
				border: 1px solid #fb4652;
				border-radius: 4px;
				font-size: 12px;
				color: #fb4652;
				cursor: pointer;
			}
			.delete_button {
				background: transparent;
				border: 1px solid #fb4652;
				border-radius: 4px;
				font-size: 12px;
				color: #fb4652;
				cursor: pointer;
			}
		}
	}
}

.create_lesson_btn {
	margin-top: 7px;
}

.create_lesson {
	width: 100%;
	form {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}
}

.edit_lesson {
	width: 100%;
	form {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}
}

.delete_lesson {
	p {
		margin-bottom: 15px;
	}
	.delete_buttons {
		display: flex;
		gap: 10px;
	}
}
