.StructureAccordion {
	width: 100%;
	max-width: 260px;
	.content {
		display: flex;
		gap: 15px;
		flex-direction: column;
		.section_by_id {
			position: relative;
			display: flex;
			flex-direction: column;
			border: 1px solid #c0c0c081;
			border-radius: var(--border-radius);
			.title {
				margin: 7px 15px 0 15px;
				font-size: 16px;
			}
			.buttons {
				position: absolute;
				right: 5px;
				padding: 2px;
				display: flex;
				gap: 5px;
				border-radius: 4px;
				.button {
					width: 27px;
					height: 27px;
					display: flex;
					justify-content: center;
					align-items: center;
					backdrop-filter: blur(7px);
				}
				.edit_button {
					background: transparent;
					border: 1px solid #fb4652;
					border-radius: 4px;
					font-size: 12px;
					color: #fb4652;
					cursor: pointer;
				}
				.delete_button {
					background: transparent;
					border: 1px solid #fb4652;
					border-radius: 4px;
					font-size: 12px;
					color: #fb4652;
					cursor: pointer;
				}
			}
			.edit_block {
				// background: red;
				// width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.empty {
			margin: 0 15px 7px 15px;
		}
		.create_structure {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.edit_structure {
	width: 100%;
	form {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}
}

.delete_structure {
	p {
		margin-bottom: 15px;
	}
	.delete_buttons {
		display: flex;
		gap: 10px;
	}
}
