.auth {
	overflow: hidden;
	background: #ffffff;
	color: #000000;

	display: flex;
	justify-content: center;
	align-items: center;

	// ! left
	.left {
		padding: 15px;
		background: url('../../../../assets/auth-page-bg.png') no-repeat center/cover;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		width: 100%;
		height: 100vh;

		@media (max-width: 1190px) {
			display: none;
		}

		.container {
			margin: 0 auto;
			width: 100%;
			max-width: 576px;
		}

		.back_link {
			display: block;

			font-size: 16px;
			line-height: 24px;
			font-weight: 500;
			text-decoration: none;

			color: #000000a3;

			@media (max-height: 1000px) {
				margin-bottom: 70px;
			}

			@media (max-height: 900px) {
				margin-bottom: 20px;
			}

			@media (max-height: 700px) {
				margin-bottom: 0px;
			}
		}

		.content {
			padding: 40px 0 0 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100vh;
			max-height: 800px;

			.get_started {
				display: flex;
				flex-direction: column;
				gap: 32px;

				@media (max-height: 1000px) {
					margin-bottom: 100px;
				}

				@media (max-height: 900px) {
					margin-bottom: 50px;
				}

				@media (max-height: 700px) {
					margin-bottom: 10px;
				}

				.sup_title {
					font-size: 36px;
					font-weight: 700;
					line-height: 1.2;
				}

				.blocks {
					display: flex;
					flex-direction: column;
					gap: 24px;

					.block {
						display: flex;
						gap: 16px;

						.icon {
							svg {
								margin-top: 2px;
								font-size: 24px;
								color: #5f62e2;
							}
						}

						.child_block {
							display: flex;
							flex-direction: column;
							gap: 8px;

							.title {
								font-size: 20px;
								line-height: 28px;
								font-weight: 600;
							}

							.text {
								font-size: 18px;
								line-height: 28px;
								font-weight: 400;
							}
						}
					}
				}
			}

			.our_graduates {
				display: flex;
				flex-direction: column;
				gap: 28px;

				@media (max-height: 700px) {
					gap: 10px;
				}

				.sup_title {
					font-size: 18px;
					line-height: 28px;
					font-weight: 600;
					text-align: center;
				}

				.images {
					display: flex;
					-webkit-box-pack: justify;
					justify-content: space-between;
					flex-flow: wrap;
					gap: 24px;
				}
			}
		}
	}

	// ! right
	.right {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100vh;

		.container {
			margin: 0 auto;
			width: 100%;
			max-width: 448px;
		}

		.content {
			padding: 15px;

			display: flex;
			-webkit-box-align: center;
			align-items: center;
			flex-direction: column;
			gap: 50px;

			.logo_link {
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				font-size: 30px;
				font-weight: 900;
				color: #333333;

				span {
					background: -webkit-linear-gradient(-70deg, #ec3125, #e4584e);
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
					-webkit-box-decoration-break: clone;
				}

				.icon {
					margin-right: 10px;
					width: 55px;
					height: auto;
				}
			}

			.auth_buttons {
				display: flex;
				flex-direction: column;
				gap: 24px;
				width: 100%;

				.title {
					font-size: 30px;
					line-height: 1.2;
					text-align: center;
				}

				.privacy {
					text-align: center;
					color: #6e757c;
					font-size: 14px;

					a {
						color: #6e757c;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.auth_switcher {
					font-size: 18px;
					font-weight: 500;
					text-align: center;

					color: black;

					a {
						color: #5f62e2;

						//cursor: not-allowed;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}