.Questions {
	padding: 30px 0;
	.content {
		.title {
			margin-bottom: 24px;
			text-align: center;
			font-size: clamp(24px, 5vw, 45px);
			font-weight: 500;
			line-height: clamp(30px, 5vw, 63px);
			letter-spacing: 0%;
			span {
				background: linear-gradient(90deg, #f96b6b, #f64b6a, #bc1f5e);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
	}
}
