.ProfileButton {
	background: transparent;
	border: none;
	outline: none;
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
	.avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	.name {
		font-size: 15px;
	}
	.arrow {
		position: relative;
		right: 3px;
		width: 20px;
		height: 20px;
		color: var(--navy-shadow);
		transform: rotate(180deg);
		transition: var(--transition);
		&.active {
			transform: rotate(360deg);
			color: var(--black);
		}
	}
}
