.BurgerMenu {
	position: absolute;
	top: 65px;
	right: 0px;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition);
	padding: 15px;
	background: var(--white);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: var(--border-radius);
	&.active {
		opacity: 1;
		visibility: visible;
	}
	.content {
		display: flex;
		flex-direction: column;
		gap: 15px;
		.user_profile {
			display: flex;
			gap: 10px;
			align-items: center;
			.user_data {
				.user_name {
					font-size: 16px;
					font-weight: 500;
					color: var(--black);
				}
				.user_email {
					font-size: 14px;
					color: var(--navy-shadow);
				}
			}
		}
		.more_nav {
			// border: 1px solid black;
			.line {
				display: block;
				width: 100%;
				height: 1px;
				background: #d7d7d7;
			}
		}
		.auth_login_buttons {
			.sign_in_button {
			}
			.sign_up_button {
			}
		}
		.nav {
			ul {
				padding: 0;
				li {
					list-style: none;
					.link {
						text-decoration: none;
						padding: 7px 14px;
						display: block;
						border-radius: var(--border-radius);
						color: var(--black);
						transition: var(--transition);
						@media (max-width: 500px) {
							cursor: default;
						}
						&:hover {
							background-color: var(--lightest-slate);
						}
						&.active {
							background-color: var(--black);
							color: var(--white);
						}
					}
				}
			}
		}
		.auth_logout_buttons {
			.logout_button {
				padding: 7px 14px;
				width: 100%;
				background: transparent;
				border: none;
				outline: none;
				display: flex;
				gap: 7px;
				justify-content: flex-start;
				align-items: center;
				border-radius: var(--border-radius);
				font-size: 14px;
				font-weight: 500;
				color: #ff5f54;
				transition: var(--transition);
				&:hover {
					background: #ff5f54;
					color: var(--white);
				}
			}
		}
	}
}
