.Footer {
	background: #1a1a25;
	.content {
		.line {
			display: block;
			width: 100%;
			height: 2px;
			background: #ffffff33;
			border-radius: 1px;
		}
		.top {
			padding-block: 60px;
			display: flex;
			gap: 30px;
			flex-wrap: wrap;
			justify-content: space-between;

			.block_about {
				width: 100%;
				max-width: 224px;
				display: flex;
				gap: 18px;
				flex-direction: column;
				@media (max-width: 875px) {
					gap: 14px;
				}
				.logo {
					width: 100%;
					max-width: 60px;
					height: auto;
				}
				p {
					font-size: 16px;
					font-weight: 500;
					line-height: 130%;
					color: #6e757c;
				}
			}

			.block {
				width: 100%;
				max-width: 210px;
				display: flex;
				gap: 24px;
				flex-direction: column;
				@media (max-width: 875px) {
					gap: 16px;
				}
				.title {
					font-size: 16px;
					font-weight: 500;
					line-height: 140%;
					color: #fff;
				}
				.links {
					display: flex;
					gap: 12px;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					a {
						text-decoration: none;
						font-size: 16px;
						font-weight: 500;
						line-height: 130%;
						color: #6e757c;
						transition: 0.2s;
						&:hover {
							color: #eaecef;
						}
					}
				}
			}
		}
		.bottom {
			padding: 30px 0 40px 0;
			display: flex;
			gap: 18px;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 875px) {
				justify-content: center;
			}
			p {
				font-size: 16px;
				font-weight: 500;
				line-height: 140%;
				color: #6e757c;
			}
			.links {
				display: flex;
				gap: 24px;
				justify-content: center;
				align-items: center;
				a {
					width: 48px;
					height: 48px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #ffffff33;
					border-radius: 50%;
					color: #fff;
					transition: var(--transition);
					&:hover {
						background: #ffffff44;
					}
					svg {
						width: 23px;
						height: 23px;
					}
				}
			}
		}
	}
}
