.Footer {
	background: var(--black);
	.content {
		.block_about {
			padding: 20px 0 4% 0;
			width: 100%;
			max-width: 424px;
			display: flex;
			gap: 18px;
			flex-direction: column;
			@media (max-width: 875px) {
				gap: 14px;
			}
			.logo {
				width: 100%;
				max-width: 60px;
				height: auto;
			}
			p {
				font-size: 18px;
				font-weight: 500;
				line-height: 130%;
				color: var(--lightest-slate);
				@media screen and (max-width: 880px) {
					font-size: 16px;
				}
			}
		}
		.line {
			display: block;
			width: 100%;
			height: 2px;
			background: #ffffff33;
			border-radius: 1px;
		}
		.top {
			padding: 60px 150px 20px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@media screen and (max-width: 880px) {
				gap: 50px;
			}

			.directions_block {
				width: 30%;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				gap: 20px;
				&__links {
					color: var(--lightest-slate);
					display: flex;
					gap: 12px;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					@media screen and (max-width: 880px) {
						gap: 10px;
					}
					a {
						font-size: 17px;
						color: currentColor;
						margin-bottom: 13px;
						white-space: nowrap;
					}
				}
			}

			.block {
				width: 100%;
				max-width: 210px;
				display: flex;
				gap: 24px;
				flex-direction: column;
				@media (max-width: 875px) {
					gap: 16px;
				}
				.title {
					font-size: 16px;
					font-weight: 500;
					line-height: 140%;
					color: var(--lightest-slate);
				}
				.social_links {
					display: flex;
					gap: 12px;
					justify-content: center;
					align-items: center;
					a {
						width: 40px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						background: #ffffff33;
						border-radius: 14px;
						color: #fff;
						transition: var(--transition);
						&:hover {
							background: #ffffff44;
						}
						svg {
							width: 20px;
							height: 20px;
						}
					}
				}
				.links {
					display: flex;
					gap: 12px;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					.tel_link {
						font-size: 18px;
						font-weight: 600;
						line-height: 20px;
					}
					.email_link {
						font-size: 16px;
						font-weight: 600;
						line-height: 20px;
						margin-bottom: 12px;
					}
					span {
						font-size: 15px;
						line-height: 16px;
						opacity: 0.8;
						color: var(--lightest-slate);
						font-weight: 400;
					}
					a {
						text-decoration: none;
						font-size: 16px;
						font-weight: 500;
						line-height: 130%;
						color: var(--lightest-slate);
						transition: 0.2s;
						&:hover {
							color: #eaecef;
						}
					}
				}
			}
		}
		.bottom {
			padding: 30px 0 40px 0;
			display: flex;
			gap: 18px;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 875px) {
				justify-content: center;
			}
			p {
				font-size: 16px;
				font-weight: 500;
				line-height: 140%;
				color: #6e757c;
				@media screen and (max-width: 480px) {
					font-size: 14px;
				}
			}
		}
	}
}
