.ElchoAI {
	position: fixed;
	z-index: 99;
	right: 0;
	bottom: 0;

	// Chatbot Toggle Button
	.toggleBtn {
		position: absolute;
		right: 30px;
		bottom: 30px;

		.pulseButton {
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			outline: none;
			background: transparent;
			color: var(--claude-ai-btn);
			cursor: pointer;
			animation: pulse 2s infinite;
		}
	}

	// Chat Modal
	.modal {
		position: fixed;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100dvh;
		background-color: rgba(55, 55, 55, 0.7);
		transition: all 0.3s ease;

		&.open {
			visibility: visible;
			opacity: 1;
		}

		&.closed {
			visibility: hidden;
			opacity: 0;
		}

		@media (min-width: 640px) {
			backdrop-filter: blur(4px);
		}

		// Chat Container
		.chatContainer {
			position: absolute;
			bottom: 0;
			width: 100%;
			max-width: 480px;
			height: 100dvh;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: right 0.5s ease;

			&.open {
				right: 0;
			}

			&.closed {
				right: -100%;
			}

			// Inner Chat Container
			.chatInner {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100dvh;
				display: flex;
				justify-content: center;
				align-items: center;

				// Chat Content
				.chatContent {
					padding: 20px;
					width: 100%;
					height: 100dvh;
					background-color: #ffffff;
					box-shadow: 0 10px 15px -3px #0000001a;
					color: #000000;
					display: flex;
					flex-direction: column;

					@media (min-width: 640px) {
						border-top-left-radius: 16px;
						border-bottom-left-radius: 16px;
					}

					// Chat Header
					.chatHeader {
						display: flex;
						justify-content: space-between;
						align-items: center;

						// Title Area
						.headerTitle {
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 12px;

							.closeButton {
								display: flex;
								justify-content: center;
								align-items: center;
								border: none;
								outline: none;
								background: transparent;
								color: #000000c9;
								cursor: pointer;
							}

							.title {
								white-space: nowrap;
								font-size: 16px;
								font-weight: 600;
								color: #000000;
							}
						}

						// Logout Button
						.logoutButton {
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 4px;
							border: none;
							outline: none;
							background: transparent;
							color: #000000;
							cursor: pointer;
							transition: color 0.3s ease;

							&:hover {
								color: #ef4444; // red-500
							}

							span {
								font-size: 0.875rem;
							}
						}
					}

					// Messages Container
					.messagesContainer {
						flex-grow: 1;
						overflow-y: auto;
						margin-top: 20px;
						margin-bottom: 10px;
						display: flex;
						flex-direction: column;
						gap: 10px;
						border-radius: 8px;
						scroll-behavior: smooth;

						// Message Item
						.messageItem {
							display: flex;
							width: 100%;

							&.user {
								justify-content: flex-end;

								.messageBubble {
									background-color: #c2deff;
									margin-left: auto;
								}
							}

							&.assistant {
								justify-content: flex-start;

								.messageBubble {
									background-color: #f1f1f1;
									margin-right: auto;
								}
							}

							.messageBubble {
								padding: 12px;
								border-radius: 8px;
								white-space: pre-wrap;

								span {
									color: #000000;
								}
							}
						}

						// Loading Animation
						.loadingWrapper {
							.loadingDots {
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 4px;

								.loadingDot {
									display: inline-block;
									width: 8px;
									height: 8px;
									border-radius: 50%;
									background-color: var(--claude-ai-bg);
									animation: loadingBounce 0.6s infinite alternate;

									&:nth-child(2) {
										animation-delay: 0.2s;
									}

									&:nth-child(3) {
										animation-delay: 0.4s;
									}
								}
							}
						}
					}

					// Input Area
					.inputContainer {
						position: sticky;
						bottom: 0;
						display: flex;
						align-items: flex-end;
						gap: 7px;
						transition: opacity 0.2s ease;

						.Textarea {
							width: 100%;
						}

						.sendMessageButton {
							padding: 10px;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 9999px;
							background-color: #f3f4f6;
							border: none;
							outline: none;
							color: var(--claude-ai-bg);
							cursor: pointer;
							transition: all 0.3s ease;

							&:hover {
								background-color: #e8e9ed;
							}

							&:disabled {
								opacity: 0.5;
								cursor: not-allowed;
							}
						}
					}

					// Registration Form
					.formContainer {
						display: flex;
						flex-direction: column;
						align-items: center;
						margin-top: 12px;

						.title {
							font-weight: 500;
							font-size: 14px;
							margin-bottom: 16px;
							// color: #000000;
						}

						form {
							width: 100%;

							.formGroup {
								position: relative;
								display: flex;
								flex-direction: column;
								margin-bottom: 16px;

								label {
									margin-left: 4px;
									margin-bottom: 4px;
									display: flex;
									justify-content: flex-start;
									align-items: center;
									gap: 7px;
									font-size: 14px;
									transition: all 0.3s ease;

									&.error {
										color: #ef4444; // red-500
									}

									.errorText {
										transition: all 0.3s ease;

										&.hidden {
											opacity: 0;
											visibility: hidden;
										}

										&.visible {
											color: #ef4444; // red-500
										}
									}
								}

								input {
									// border-radius: 16px;
								}
							}

							.send_button {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

// Animations
@keyframes loadingBounce {
	to {
		transform: translateY(-8px);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 var(--claude-ai-btn);
		border-radius: 50%;
	}

	70% {
		transform: scale(1.07);
		box-shadow: 0 0 0 10px rgba(37, 99, 235, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(37, 99, 235, 0);
	}
}
