.AdditionalCourses {
	padding: 50px 0;
	.content {
		.title {
			margin-bottom: 40px;
			text-align: center;
			font-size: clamp(24px, 5vw, 58px);
			font-weight: 500;
			line-height: clamp(20px, 5vw, 69px);
			letter-spacing: 0%;
			span {
				background: linear-gradient(90deg, #f96b6b, #f64b6a, #bc1f5e);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
		.cards {
			margin-top: 40px;
			display: flex;
			gap: 20px;
			justify-content: space-between;
			@media (max-width: 1170px) {
				flex-wrap: wrap;
				justify-content: center;
			}
			.card {
				width: 100%;
				max-width: 300px;
				display: flex;
				flex-direction: column;
				// justify-content: center;
				align-items: center;
				border: 1px solid rgb(235, 235, 235);
				border-radius: 16px;
				.image_block {
					width: 100%;
					height: 200px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: url('../../../../../assets/img/additional_courses/bg-frame.png')
						no-repeat center/cover;
					border-bottom: 1px solid rgb(235, 235, 235);
					img {
						width: 100%;
						max-width: 200px;
						height: auto;
					}
				}
				.info_block {
					padding: 16px 20px;
					.info_block_title {
						margin-bottom: 6px;
						color: rgb(39, 39, 39);
						font-size: 16px;
						font-weight: 600;
						line-height: 19px;
						letter-spacing: -0.18px;
					}
					.info_block_text {
						color: rgb(92, 92, 92);
						font-size: 14px;
						font-weight: 400;
						line-height: 17px;
						letter-spacing: -0.08px;
					}
				}
			}
		}
	}
}
