.AdditionalCourses {
	padding: 50px 0;
	.content {
		text-align: center;
		.scrollWrapper {
			height: 500px;
		}
		.cardItem {
			display: flex;
			justify-content: space-between;
			text-align: start;
			gap: 30px;
			width: 100%;
			padding: 24px;
			border-radius: 16px;
			// background: #333;
			border: 1px solid rgb(235, 235, 235);
			color: #fff;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
			.left {
				h2 {
					font-size: 35px;
					font-weight: 600;
					margin-bottom: 12px;
				}

				p {
					font-size: 20px;
					line-height: 1.4;
				}
			}
			.right {
			}
		}
	}
}

.russia {
	background: linear-gradient(to right, red, white, blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text; /* для Firefox */
	color: transparent;
}
