.License {
	padding: 50px 0;
	.content {
		padding: 80px 40px;
		background: url('../../../../../assets/license-bg.png') no-repeat
			center/cover;
		border-radius: 32px;
		background:
			radial-gradient(
				100% 100% at 50% 50%,
				rgba(255, 255, 255, 0.2),
				rgba(0, 0, 0, 0) 100%
			),
			rgb(229, 77, 82);
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 500px) {
			padding: 30px;
		}
		@media (max-width: 1250px) {
			gap: 30px;
			flex-direction: column;
			align-items: flex-start;
		}
		.left {
			.title {
				margin-bottom: 22px;
				font-size: clamp(18px, 3vw, 32px);
				font-weight: 500;
				line-height: clamp(21px, 4vw, 39px);

				letter-spacing: 0%;
				color: #ffffff;
			}
			.text {
				padding-left: 20px;
				width: 100%;
				max-width: 520px;
				display: flex;
				gap: 16px;
				flex-direction: column;
				color: #ffffffcc;
				li {
					p {
						font-size: clamp(14px, 3vw, 17px);
						font-weight: 400;
						line-height: 21px;
						letter-spacing: 0%;
					}
				}
			}
		}
		.right {
			@media (max-width: 1250px) {
				margin: 0 auto;
			}
			img {
				width: 100%;
				max-width: 650px;
				height: auto;
			}
		}
	}
}
