.Maps {
	padding: 50px 0;
	.content {
		.top {
			margin-bottom: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.title {
				font-size: clamp(24px, 5vw, 52px);
				font-weight: 500;
				line-height: clamp(30px, 5vw, 63px);
				letter-spacing: 0%;
				span {
					background: linear-gradient(90deg, #f96b6b, #f64b6a, #bc1f5e);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
				}
			}
			.right {
				display: flex;
				flex-direction: column;
				gap: 7px;
				align-items: flex-end;
				.address {
					color: #5c5c5c;
					font-size: clamp(14px, 3vw, 18px);
					font-weight: 400;
					line-height: clamp(16px, 3vw, 24px);
					letter-spacing: -0.18px;
				}
				.phone {
					color: rgb(39, 39, 39);
					font-size: clamp(14px, 3vw, 18px);
					font-weight: 600;
					line-height: 27px;
					letter-spacing: -0.16px;
					text-decoration: none;
				}
			}
		}
		.map_address {
			width: 100%;
			border-radius: 22px;
			iframe {
				width: 100%;
				height: 410px;
				border-radius: 22px;
				@media (max-width: 700px) {
					height: 205px;
				}
				// height: clamp(250px, 25vw, 410px);
			}
			// img {
			// 	width: 100%;
			// 	height: auto;
			// }
		}
	}
}
