.Podcasts {
	padding: 100px 0;
	background: #1f1f1f;
	@media (max-width: 50px) {
		padding: 50px 0;
	}
	.content {
		.title {
			margin-bottom: 36px;
			font-size: clamp(24px, 5vw, 52px);
			font-weight: 500;
			line-height: clamp(30px, 5vw, 63px);
			letter-spacing: 0%;
			color: #ffffff;
			span {
				background: linear-gradient(90deg, #f96b6b, #f64b6a, #bc1f5e);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}
		}
		.gridContainer {
			margin-top: 36px;
			// width: 100%;
			// display: flex;
			// justify-content: center;
			// align-items: center;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			gap: 20px;
			width: 100%;
			justify-content: center;
			.card {
				display: flex;
				flex-direction: column;
				align-items: center;
				background: #2b2b2b;
				padding: 20px;
				border-radius: 8px;
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

				.player {
					margin-bottom: 10px;
					width: 100%;
					aspect-ratio: 16 / 9;
				}

				p {
					font-size: 18px;
					font-weight: 600;
					line-height: 22px;
					letter-spacing: 0%;
					color: #ededed;
					text-align: left;
				}
			}
		}
	}
}
