.StudentsWorkplace {
	padding: 125px 0 50px 0;
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		.block {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.top {
				position: absolute;
				top: -70px;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				.tag {
					svg {
						margin-bottom: 9px;
						@media (max-width: 700px) {
							margin: 0;
						}
					}
				}
			}
			.students_workplace_1 {
				width: 100%;
				height: auto;
			}
			.students_workplace_2 {
				position: absolute;
				left: 50%;
				top: 60%;
				transform: translate(-50%, -50%);
				width: 100%;
				max-width: 800px;
				height: auto;
			}
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				top: 120%;
				z-index: -1;
				transform: translate(-50%, -50%);

				width: 200px;
				height: 200px;

				filter: blur(200px);
				background: linear-gradient(
					90deg,
					rgb(255, 152, 152),
					rgb(246, 75, 106) 38%,
					rgb(188, 31, 94) 100%
				);
			}
		}
	}
}
