.WeeklyStudentRating {
	padding: 50px 0;
	.content {
		.title {
			width: 100%;
			margin-bottom: 40px;
			// font-size: clamp(24px, 5vw, 58px);
			font-size: clamp(24px, 5vw, 40px);
			font-weight: 500;
			line-height: clamp(20px, 5vw, 69px);
			letter-spacing: 0%;
			.custom_title {
				position: relative;
				background: linear-gradient(90deg, #f96b6b, #f64b6a, #bc1f5e);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				.icon_question {
					position: absolute;
					top: 50%;
					right: -30px;
					transform: translateY(-50%);
					display: flex;
					justify-content: center;
					align-items: center;
					color: #b0b0b0;
					cursor: pointer;
					@media (max-width: 900px) {
						display: none;
					}
					svg {
						width: 23px;
						height: 23px;
					}
				}
			}
		}
		.rating {
			.mySwiper {
				padding-bottom: 40px;
				.SwiperSlide {
					.slide {
						display: flex;
						gap: 6px;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						.image_block {
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 18.22px;
							.img {
								width: 100%;
								height: 100%;
								border-radius: 18.22px;
							}
						}
						.info_block {
							padding: 9px 19px;
							width: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;
							border-radius: 18.22px;
							background: rgb(27, 26, 26);
							.mentor_name_role_mark {
								width: 100%;
								.block_top {
									.name {
										color: rgb(255, 255, 255);
										font-size: 12.92px;
										font-weight: 500;
										line-height: 21.25px;
										letter-spacing: 0%;
									}
								}
								.block_bottom {
									display: flex;
									justify-content: space-between;
									align-items: center;
									.role {
										opacity: 0.76;
										color: rgb(255, 255, 255);
										font-size: 11.04px;
										font-weight: 400;
										line-height: 21.25px;
										letter-spacing: 0%;
									}
									.mark {
										margin-right: 5px;
										opacity: 0.76;
										display: flex;
										gap: 5px;
										justify-content: center;
										align-items: center;
										color: rgb(255, 255, 255);
										font-size: 11.04px;
										font-weight: 400;
										line-height: 21.25px;
										letter-spacing: 0%;
									}
								}
							}
							.linkedin {
								padding: 3px;
								display: flex;
								justify-content: center;
								align-items: center;
								color: #ff0000;
								svg {
									width: 24px;
									height: 24px;
								}
							}
						}
					}
				}
			}
		}
	}
}
