$--carousel-bg-button-light: #ffffff;
$--carousel-inside-bg-button-light: #ebebeb;
$--carousel-text-light: #000000;
$--carousel-box-shadow-light: rgba(0, 0, 0, 0.18);

.Welcome {
	overflow: hidden;
	// padding-top: 40px;
	padding: clamp(70px, 8vw, 100px) 0;

	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1080px) {
			flex-direction: column;
		}

		.left {
			position: relative;
			width: 100%;
			max-width: 615px;

			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	left: 0;
			// 	top: -500px;
			// 	z-index: -1;
			// 	width: 886px;
			// 	height: 896px;
			// 	flex-shrink: 0;
			// 	border-radius: 896px;
			// 	background: radial-gradient(
			// 		40.17% 39.79% at 50% 50%,
			// 		rgba(170, 20, 240, 0.28) 0%,
			// 		rgba(170, 20, 240, 0) 100%
			// 	);
			// }
			.title {
				font-family: system-ui, -apple-system, BlinkMacSystemFont;
				margin-bottom: clamp(10px, 8vw, 20px);
				color: var(--black);
				font-size: clamp(30px, 8vw, 50px);
				font-style: normal;
				font-weight: 600;
				line-height: clamp(30px, 8vw, 60px);

				// span {
				// 	background: var(
				// 		--2,
				// 		linear-gradient(97deg, #f86cf8 12.04%, #64cef5 81.84%)
				// 	);
				// 	background-clip: text;
				// 	-webkit-background-clip: text;
				// 	-webkit-text-fill-color: transparent;
				// }
				span {
					background: var(--2,
							linear-gradient(97deg, #eb3023 12.04%, #d32f2f 81.84%));
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			.text {
				margin-bottom: clamp(12px, 8vw, 50px);
				width: 100%;
				max-width: 450px;
				color: var(--black);
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.buttons {
				margin-bottom: clamp(20px, 8vw, 40px);
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 20px;

				a {
					padding: 14px 25px;
					color: #fff;
					text-decoration: none;
					font-size: 20px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					border: none;
					outline: none;
					background: transparent;
					border-radius: 5px;

					@media (max-width: 767px) {
						padding: 10px 20px;
						font-size: 14px;
					}
				}

				.bg {
					background: var(--3,
							linear-gradient(97deg, #d32f2f 12.04%, #f57c7c 81.84%));
				}

				.no_bg {
					border: 1px solid var(--3, #d10ed1);
				}

				// .bg {
				// 	background: var(
				// 		--3,
				// 		linear-gradient(97deg, #d10ed1 12.04%, #10a3da 81.84%)
				// 	);
				// }
				// .no_bg {
				// 	border: 1px solid var(--3, #d10ed1);
				// }
			}

			.stats {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 70px;

				@media (max-width: 767px) {
					gap: 30px;
				}

				.stat {
					h3 {
						width: 70px;
						color: var(--black);
						font-size: 24px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;

						@media (max-width: 767px) {
							font-size: 18px;
						}
					}

					p {
						color: var(--black);
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;

						@media (max-width: 767px) {
							font-size: 14px;
						}
					}
				}
			}
		}

		.right {
			position: relative;

			.tab_carousel {
				position: relative;
				width: 625px;
				height: 450px;

				.position {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}

				.carousel {
					position: relative;
					width: 625px;
					height: 450px;

					// @media (max-width: 650px) {
					// 	height: 380px;
					// }
					// @media (max-width: 525px) {
					// 	height: 330px;
					// }
					// @media (max-width: 455px) {
					// 	height: 300px;
					// }
					// @media (max-width: 390px) {
					// 	height: 270px;
					// }
					// @media (max-width: 370px) {
					// 	height: 250px;
					// }
					.tabs {
						.button {
							background: $--carousel-bg-button-light;
							box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
							color: $--carousel-text-light;
							padding: 12px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: flex-start;
							position: relative;
							width: 150px;
							border-radius: 10px;
							cursor: pointer;
							transition: 0.4s;

							@media (max-width: 700px) {
								cursor: default;
							}

							&.active {
								box-shadow: 0px 10px 30px $--carousel-box-shadow-light;
							}

							.company {
								position: relative;
								display: flex;
								align-items: center;

								img {
									position: relative;
									left: 2px;
									width: 100%;
									height: 18px;
								}

								&::after {
									background: $--carousel-inside-bg-button-light;
									content: '';
									position: absolute;
									left: 0;
									top: 50%;
									transform: translateY(-50%);
									background: #f4f4f4;
									border-radius: 6px;
									width: 65px;
									height: 19px;
								}

								&.active::after {
									opacity: 0;
								}
							}

							.role {
								position: relative;
								margin-top: 7px;

								.role_text {
									opacity: 0;
									position: relative;
									left: 2px;
									font-size: 12px;
									font-weight: 500;
									transition: 0.2s;

									&.active {
										opacity: 1;
									}
								}

								&::after {
									background: $--carousel-inside-bg-button-light;
									content: '';
									position: absolute;
									left: 0;
									top: 50%;
									transform: translateY(-50%);
									background: #f4f4f4;
									border-radius: 6px;
									width: 115px;
									height: 16px;
								}

								&.active::after {
									opacity: 0;
								}
							}

							&:nth-child(1) {
								position: absolute;
								left: 380px;
								top: 320px;

								&.active {
									transform: translate(5px, 10px) scale(1.1);
								}
							}

							&:nth-child(2) {
								position: absolute;
								left: 135px;
								top: 335px;

								&.active {
									transform: translate(-25px, 10px) scale(1.1);
								}
							}

							&:nth-child(3) {
								position: absolute;
								left: 40px;
								top: 210px;

								&.active {
									transform: translate(-30px, 0px) scale(1.1);
								}
							}

							&:nth-child(4) {
								position: absolute;
								left: 130px;
								top: 70px;

								&.active {
									transform: translate(-10px, -20px) scale(1.1);
								}
							}

							&:nth-child(5) {
								position: absolute;
								left: 460px;
								top: 185px;

								&.active {
									transform: translate(20px, -10px) scale(1.1);
								}
							}
						}
					}

					.base_people {
						opacity: 0;
						visibility: hidden;
						transition: opacity 1s;

						&.active {
							opacity: 1;
							visibility: visible;
						}

						.person__company {
							color: $--carousel-text-light;
						}

						// ? line
						&::after {
							background: url(../../../../../assets/img/people/line.svg) no-repeat center/cover;
						}

						&.animate-out {
							opacity: 0;
							visibility: hidden;
							animation: hideBasePeople 0.7s forwards;
						}

						&.animate-in {
							opacity: 0;
							visibility: visible;
							animation: showBasePeople 0.7s forwards;
						}

						@keyframes hideBasePeople {
							0% {
								opacity: 1;
								visibility: visible;
							}

							100% {
								opacity: 0;
								visibility: hidden;
							}
						}

						@keyframes showBasePeople {
							0% {
								opacity: 0;
								visibility: visible;
							}

							100% {
								opacity: 1;
								visibility: visible;
							}
						}

						.person_company {
							position: absolute;
							left: 409px;
							top: 96px;
							font-weight: 600;
						}

						// ? line
						&::after {
							content: '';
							position: absolute;
							left: 337px;
							top: 99px;
							// background: url(./img/people/line.svg) no-repeat center/cover;
							width: 70px;
							height: 45px;
						}

						.person_img {
							position: absolute;
							left: 235px;
							top: 145px;
							border-radius: 10px;
							width: 160px;
							height: 160px;
						}
					}
				}

				@media (max-width: 650px) {
					height: 380px;
					transform: scale(0.8);
				}

				@media (max-width: 525px) {
					height: 330px;
					transform: scale(0.7);
				}

				@media (max-width: 455px) {
					height: 300px;
					transform: scale(0.6);
				}

				@media (max-width: 390px) {
					height: 270px;
					transform: scale(0.59);
				}

				@media (max-width: 370px) {
					height: 250px;
					transform: scale(0.56);
				}
			}

			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	left: 100px;
			// 	top: -200px;
			// 	z-index: -1;

			// 	width: 886px;
			// 	height: 896px;
			// 	flex-shrink: 0;

			// 	border-radius: 896px;
			// 	background: radial-gradient(
			// 		40.17% 39.79% at 50% 50%,
			// 		rgba(170, 20, 240, 0.28) 0%,
			// 		rgba(170, 20, 240, 0) 100%
			// 	);
			// }
		}
	}
}